@page
@model DownloadPersonalDataModel
@{
    ViewData["Title"] = "Télécharger vos données";
    ViewData["ActivePage"] = ManageNavPages.PersonalData;
}

<h3>@ViewData["Title"]<span class="text-primary fw-bold">.</span></h3>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
