@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Confirmation de réinitialisation";
}

<h1>@ViewData["Title"]<span class="text-primary fw-bold">.</span></h1>
<p>
    Merci de regarder vos e-mails pour réinitialiser votre mot de passe.
</p>
