@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Confirmation de réinitialisation du mot de passe";
}

<h1>@ViewData["Title"]</h1>
<p>
    Votre mot de passe a bien été réinitialisé. <a asp-page="./Login">Cliquez ici pour vous connecter.</a>.
</p>
