@page
@model ProjetDotnet.WebApp.Pages.IndexModel
@{
    ViewData["Title"] = "Accueil";
}

<div class="text-center">
    <h1 class="display-4">Bienvenue sur <span class="fw-bold">To</span><span class="text-primary fw-bold">.</span><span class="fw-bold">Do</span></h1>
    <p>
        Prêt à prendre le contrôle de votre emploi du temps ? Rejoignez dès maintenant To.Do et découvrez une nouvelle façon de gérer vos tâches avec facilité et efficacité. Que vous soyez un étudiant occupé, un professionnel exigeant ou tout simplement quelqu'un qui cherche à s'organiser, To.Do est là pour vous accompagner à chaque étape de votre parcours.
    </p>
</div>